.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Card-Header{
  color: #039be5;
  background-color: #FFF;
  font-size: 19px;
}
.Card-Image{
  border-radius: 0;
}
.Card{
  border-radius: 0;
  box-shadow: 0 2px 5px 0 #888;
}
.banner{
  width: 100%;
  box-shadow: 0 2px 5px 0 #888;
}

.navbar{
  box-shadow: 0 2px 5px 0 #888;
  background-color: #FFF;
}

.nav-item{
  color: #888;
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-item:hover {
  background: #DDD;
}
